<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wuxian.me.lagouspider.mapper.AreaMapper">
    <select id="getArea" resultType="wuxian.me.lagouspider.model.Area">
        select * from area where name = #{name}
    </select>
    <insert id="insertArea">
        insert into area (name,distinct_name) values (#{areaName},#{distinctName})
    </insert>
    <resultMap id="allArea" type="wuxian.me.lagouspider.model.Area"/>
    <select id="loadAll" resultMap="allArea">
        select * from area
    </select>

    <select id="loadAreaOfDistinct" resultMap="allArea">
        select * from area where distinct_name = #{distinctName}
    </select>

    <update id="createNewTableIfNeed" parameterType="wuxian.me.lagouspider.model.Area">
        create table if not exists ${tableName} (area_id INT AUTO_INCREMENT,name VARCHAR(30),
        distinct_name VARCHAR(30),
        PRIMARY KEY (area_id))
        DEFAULT CHARSET = utf8,
        ENGINE = InnoDB;

    </update>

    <update id="createIndex" parameterType="wuxian.me.lagouspider.model.Area">
        CREATE INDEX idx_name ON ${tableName} (name);
    </update>
</mapper>