<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wuxian.me.lagouspider.mapper.CompanyMapper">
    <update id="createNewTableIfNeed">
        create table if not exists ${tableName} (company_id INTEGER,area_id INT,company_fullname
        VARCHAR(40),financeStage VARCHAR(30),industryField VARCHAR(40),detail_location VARCHAR(50),PRIMARY KEY
        (company_id))
        <!--DEFAULT CHARSET = utf8,
        ENGINE = InnoDB;
        CREATE INDEX idx_company_fullname ON ${tableName} (company_fullname);
        CREATE INDEX idx_company_id ON ${tableName} (company_id);
        -->
    </update>
    <insert id="insertCompany">
        insert into $(tableName) (company_id,area_id,company_fullname,financeStage,industryFiled
        <if test="location != null">, detail_location</if>) values (#{companyId},#{areaId},#{fullName},#{stage},#{field}<if
            test="location != null">,#{location}</if>)
    </insert>

    <update id="updateCompany">
        update ${tableName} set detail_location=#{location} where company_id=#{companyId}
    </update>

    <resultMap id="allCompany" type="wuxian.me.lagouspider.model.Company"/>
    <select id="loadAllCompanies" resultMap="allCompany" useCache="false">
        select * from ${tableName}
    </select>
</mapper>